.scroll-pane {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.scroll-pane:focused {
  -fx-background-insets: 0;
}

.scroll-pane .corner {
  -fx-background-insets: 0;
}

.split-label {
  -fx-font-size: 16pt;
  -fx-padding: 0 10px;
}

.timer-label {
  -fx-font-size: 28pt;
}
