.scroll-pane {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.scroll-pane:focused {
  -fx-background-insets: 0;
}

.scroll-pane .corner {
  -fx-background-insets: 0;
}

.split-label {
  -fx-font-size: 16pt;
  -fx-padding: 0 10px;
}

.best-split-label {
  -fx-text-fill: gray;
}

.plus-split-label {
  -fx-text-fill: red;
}

.minus-split-label {
  -fx-text-fill: green;
}

.timer-label {
  -fx-font-size: 28pt;
}
